* {
    padding: 0%;
    margin: 0%;
    
}
body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
}
.logo img{ 
    display: inline;
    float: left;
    width: 15em;
    height: auto;
}

header {
    background-color: black;
    grid-area: header;
}
main {
    color: black;
    grid-area: main;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;   
}
main h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 3.5em;  
}
main p {
    color: white;
    text-align: center;
}
footer {
    background-color: black;
    color: white;
    grid-area: footer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.openmenu {
    position: relative;
    height: 0.8em;
    width: 2.2em;
    display: block;
    border-top: 0.3em solid white;
    border-bottom: 0.3em solid white;
    border-radius: 0.1em;
    float: right;
    margin-top: 0.7em;
    margin-right: 0.5em;

}
.openmenu:before {
    content: '';
    position: absolute;
    width: 2.2em;
    top: 0.3em;
    left: 2empx;
    border-top: 0.3em solid white;
}
nav {
    background-color: black;
    grid-area: nav;
    display:none; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}   
nav:target {
    display: block;
    position: fixed;
    top: 0%;
    left: 50%;
    width: 50%;
    height: 100vh;
    z-index: 1;
}
nav .close {
    float: right;
}

nav ul {
    display: block;
    list-style: none;
    padding-top: 2em;

}
nav ul li {
    padding-top: 2.5em;
    text-align: center;
    
}
nav ul li a {
    text-decoration: none;
    color: white;
}

body {
    background-image: url(../ASSIGNMENT/backdrop.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;

}
.close {
    text-decoration: none;
    color: white;
    font-family: 'Fredoka One', cursive;
    font-size: 200%;
    padding-right: 0.5em;
}
form {
    display: grid;
    width: 200px;
    grid-template-columns: 50% 50%;
    align-items: center;
    grid-gap: 0.5em;
    padding-top: 10em;
    padding-left: 10em;
    padding-bottom: 10em;
    }
    .submit {
    grid-column: 2;
    }