* {
    margin: 0%;
    padding: 0%;
    
}
body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}
.logo img{ 
    display: inline;
    float: left;
    width: 15em;
    height: auto;
}

header {
    background-color: black;
}
main {
    color: black;
    font-family: 'Roboto', sans-serif;

}
main h2 {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 3em;  
}
main p {
    color: white;
    text-align: center;
}


footer {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}
    
nav {
    background-color:	#696969;
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    

}
nav ul {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    text-align: center;
    list-style: none;

}
nav ul li a {
    text-decoration: none;
    color: white;
    padding: 0.5em 1em;
    border: 0.1em solid white;
    border: transparent;
    
}
nav ul li a:hover {
    background-color: white;
    color: black;
    transition: 0.7s ease;
}
nav .close {
    display: none;
}
body {
    background-image: url(../ASSIGNMENT/backdrop.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    grid-area: div;  
}

.contact-form {
    max-width: 600px;
    margin: auto;
}
.contact-form-text {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background-color: black;
    color: white;
    padding: 20px 20px;  
    font-family: 'Roboto', sans-serif;
}
textarea{
    resize: none;
    height: 12em;
}
.contact-form-button{
    float: right;
    padding: 0.5em 2em;
    border-radius: 0.5em;
    border: 0;
    background-color: #696969;
    
}
.contact-form-button:hover{
    background-color: lightgray;
    transition: 0.5s;
}