* {
    padding: 0%;
    margin: 0%;
    
}
body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}
body {
    background-image: url(../ASSIGNMENT/backdrop.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;

}
.logo img{ 
    display: inline;
    float: left;
    width: 15em;
    height: auto;
}

header {
    background-color: black;
}

.openmenu {
    position: relative;
    height: 0.8em;
    width: 2.2em;
    display: block;
    border-top: 0.3em solid white;
    border-bottom: 0.3em solid white;
    border-radius: 0.1em;
    float: right;
    margin-top: 0.7em;
    margin-right: 0.5em;

}
.openmenu:before {
    content: '';
    position: absolute;
    width: 2.2em;
    top: 0.3em;
    border-top: 0.3em solid white;
}
nav {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    display:block; 
    position: fixed;
    top: 0%;
    left: 50%;
    width: 50%;
    height: 100vh;
    z-index: 1;
    transform: translate(0, -100%);
}   
nav:target {
    display: block;
    position: fixed;
    top: 0%;
    left: 50%;
    width: 50%;
    height: 100vh;
    z-index: 1;
    transform: translate(0, 0%);
    transition: transform 0.4s ease-in;
}
nav .close {
    float: right;
    text-decoration: none;
    color: white;
    font-family: 'Fredoka One', cursive;
    font-size: 200%;
    padding-right: 0.5em;
}

nav ul {
    display: block;
    list-style: none;
    padding-top: 2em;

}
nav ul li {
    padding-top: 2.5em;
    text-align: center;
    
}
nav ul li a {
    text-decoration: none;
    color: white;
}

main {
    color: black;
    font-family: 'Roboto', sans-serif;  
}
main h2 {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 3em;  
}
main p {
    color: white;
    text-align: center;
}
.contact-form {
    max-width: 450px;
    margin: auto;
}
.contact-form-text {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background-color: black;
    color: white;
    padding: 20px 20px;  
    font-family: 'Roboto', sans-serif;
}
textarea{
    resize: none;
    height: 12em;
}
.contact-form-button{
    float: right;
    padding: 0.5em 2em;
    border-radius: 0.5em;
    border: 0;
    background-color: #696969;
    
}
.contact-form-button:hover{
    background-color: lightgray;
    transition: 0.5s;
}

footer {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}