* {
    margin: 0%;
    padding: 0%;
    
}
body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}
body {
    background-image: url(../ASSIGNMENT/backdrop.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    grid-area: div;
}   
.logo img{ 
    display: inline;
    float: left;
    width: 15em;
    height: auto;
}

header {
    background-color: black;
}

nav {
    background-color:	#696969;
    padding-top: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding-bottom: 1em;

}
nav ul {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    text-align: center;
    list-style: none;

}
nav ul li a {
    text-decoration: none;
    color: white;
    padding: 0.5em 1em;
    border: 0.1em solid white;
    border: transparent;
    
}
nav ul li a:hover {
    background-color: white;
    color: black;
    transition: 0.7s ease;
}
nav .close {
    display: none;
}

main {
    color: white;
    font-family: 'Roboto', sans-serif;
}
main {    
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto;
}


main .cvleft{
    background-color: #152238;
}
.image img{
    height: 15em;
    width: 12em;
    margin-left: 4em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 2em;
}
.dob{
    text-align: center;
}
.dob h1{
    font-size: 110%;
    
}
.address{
    padding-top: 1em;
    text-align: center;
}
.address h1{
    font-size: 110%;
}
.phone{
    padding-top: 1em;
    text-align: center;
}
.phone h1{
    font-size: 110%;
}
.email{
    padding-top: 1em;
    padding-bottom: 5em;
    text-align: center;
}
.email h1{
    font-size: 110%;

}
.interests{
    text-align: center;
}
.interests p{
    padding-top: 0.8em;
}


main .cvright{
    background-color: white;
    color: black;
}
.nameholder{
    text-align: center;
}
.nameholder h2{
    font-size: 200%;
}
.profile{
    padding-top: 3em;
}
.education{
    padding-top: 3em;
}
.welling{
    padding-bottom: 1em;
}
.ctk{
    padding-bottom: 1em;
}
.uon{
    padding-bottom: 1em;
}
.skills{
    padding-top: 2em;
}
.skillslist ul{
    padding-left: 1.5em;
}

footer {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}



