* {
    padding: 0%;
    margin: 0%;   
}
body {
    display: grid;
    grid-template-rows: 10% 80% 10%;
}
.logo img{ 
    display: inline;
    float: left;
    width: 15em;
    height: auto;
}

header {
    background-color: black;
}
main {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
main {    
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
}
main .cvleft{
    background-color: lawngreen;
}
main .cvright{
    background-color: lightcoral;
}

footer {
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.openmenu {
    position: relative;
    height: 0.8em;
    width: 2.2em;
    display: block;
    border-top: 0.3em solid white;
    border-bottom: 0.3em solid white;
    border-radius: 0.1em;

    float: right;

    margin-top: 0.7em;
    margin-right: 0.5em;
    

    
}
.openmenu:before {
    content: '';
    position: absolute;
    width: 2.2em;
    top: 0.3em;
    left: 2empx;
    border-top: 0.3em solid white;
}
nav {
    background-color: black;
    display:none; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}   
nav:target {
    display: block;
    position: fixed;
    top: 0%;
    left: 50%;
    width: 50%;
    height: 100vh;
    z-index: 1;
}
nav .close {
    float: right;
}

nav ul {
    display: block;
    list-style: none;
    padding-top: 2em;

}
nav ul li {
    padding-top: 2.5em;
    text-align: center;
    
}
nav ul li a {
    text-decoration: none;
    color: white;
}

body {
    background-image: url(../ASSIGNMENT/backdrop.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.close {
    text-decoration: none;
    color: white;
    font-family: 'Fredoka One', cursive;
    font-size: 200%;
    padding-right: 0.5em;
    
    
}