* {
    padding: 0%;
    margin: 0%;   
}
body {
    display: grid;
    grid-template-rows: auto;
}
body {
    background-image: url(../ASSIGNMENT/backdrop.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.logo img{ 
    display: inline;
    float: left;
    width: 15em;
    height: auto;
}

header {
    background-color: black;
}

.openmenu {
    position: relative;
    height: 0.8em;
    width: 2.2em;
    display: block;
    border-top: 0.3em solid white;
    border-bottom: 0.3em solid white;
    border-radius: 0.1em;

    float: right;

    margin-top: 0.7em;
    margin-right: 0.5em;
    

    
}
.openmenu:before {
    content: '';
    position: absolute;
    width: 2.2em;
    top: 0.3em;
    border-top: 0.3em solid white;
}
nav {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    display:block; 
    position: fixed;
    top: 0%;
    left: 50%;
    width: 50%;
    height: 100vh;
    z-index: 1;
    transform: translate(0, -100%);
}   
nav:target {
    display: block;
    position: fixed;
    top: 0%;
    left: 50%;
    width: 50%;
    height: 100vh;
    z-index: 1;
    transform: translate(0, 0%);
    transition: transform 0.4s ease-in;
}
nav .close {
    float: right;
    text-decoration: none;
    color: white;
    font-family: 'Fredoka One', cursive;
    font-size: 200%;
    padding-right: 0.5em;
}

nav ul {
    display: block;
    list-style: none;
    padding-top: 2em;

}
nav ul li {
    padding-top: 2.5em;
    text-align: center;
    
}
nav ul li a {
    text-decoration: none;
    color: white;
}

main {
    color: white;
    font-family: 'Roboto', sans-serif;
}
main {    
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: auto;
}

main .cvleft{
    background-color: #202020;
}
.image img{
    height: 10em;
    width: 8em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 2em;
    margin-left: 0.5em;
}
.cvleft h2{
    font-size: 100%;
}
.dob{
    text-align: left;
    font-size: 95%;
}
.dob h1{
    font-size: 110%;
    
}
.address{
    padding-top: 1em;
    text-align: left;
    font-size: 95%;
}
.address h1{
    font-size: 110%;
}
.phone{
    padding-top: 1em;
    text-align: left;
    font-size: 95%;
}
.phone h1{
    font-size: 110%;

}
.email{
    padding-top: 1em;
    padding-bottom: 5em;
    text-align: left;
    font-size: 95%;
}
.email h1{
    font-size: 110%;

}
.interests{
    text-align: left;
    font-size: 95%;
}
.interests p{
    padding-top: 0.8em;
}


main .cvright{
    color: white;
}
.nameholder{
    text-align: left;
    font-size: 100%;
}
.profile{
    padding-top: 3em;
    font-size: 95%;
}
.profile h2{
    border-bottom: 0.2em solid white;
}
.education{
    padding-top: 3em;
    font-size: 95%;
    border-bottom: 0.2em solid white;
}
.welling{
    padding-bottom: 1em;
    font-size: 95%;
}
.ctk{
    padding-bottom: 1em;
    font-size: 95%;
}
.uon{
    padding-bottom: 1em;
    font-size: 95%;
}
.skills{
    padding-top: 2em;
    font-size: 95%;
    border-bottom: 0.2em solid white;
}
.skillslist ul{
    padding-left: 1.5em;
}
footer {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}