header {
    background-image: url(../ASSIGNMENT/background.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
ul {
    float: right;
    margin-top: 1.5em;
}
ul li {
    display: inline;
}
ul li a {
    text-decoration: none;
    color: white;
    padding: 0.5em 1em;  
    border: 0.1em solid transparent;
}
ul li a:hover {
    background-color: white;
    color: black;
}
.currenthomepage a {
    background-color: white;
    color: black;


}