* {
    padding: 0%;
    margin: 0%;
    font-family: helvetica;
    
}
body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10% 10% 75% 5%;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
}
.logo img{ 
    display: inline;
    float: left;
    width: 15em;
    height: auto;
}

header {
    background-color: black;
    grid-area: header;
}
main {
    color: white;
    grid-area: main;
}
footer {
    background-color: black;
    color: white;
    grid-area: footer;
}
.openmenu {
    position: relative;
    height: 0.8em;
    width: 1.25em;
    display: block;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
    border-radius: 0.1em;
    float: right;
    margin-top: 1em;

    
}
.openmenu:before {
    content: '';
    position: absolute;
    width: 1.25em;
    top: 0.3em;
    left: 2empx;
    border-top: 0.2em solid white;
}
nav {
    background-color: black;
    grid-area: nav;
    display:none; 
}   
nav:target {
    display: block;
    position: fixed;
    top: 0%;
    left: 50%;
    width: 50%;
    height: 100vh;
    z-index: 1;
}
nav .close {
    float: right;
}

nav ul {
    display: block;
    list-style: none;
    padding-top: 2em;

}
nav ul li {
    padding-top: 2.5em;
    
}
nav ul li a {
    text-decoration: none;
    color: white;
}

body {
    background-image: url(../ASSIGNMENT/backdrop.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}