* {
    margin: 0%;
    padding: 0%;
    
}
body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}
.logo img{ 
    display: inline;
    float: left;
    width: 15em;
    height: auto;
}

header {
    background-color: black;
}
main {
    color: white;
    font-family: 'Roboto', sans-serif;
}
main ul {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
    list-style: none;
    padding-top: 3em;
     
}
main p {
    font-family: 'Roboto', sans-serif;
    padding-top: 1em;
    font-size: 110%;
}
.problemsolving {
    padding-top: 3em;
   

}
.communication {
    padding-top: 3em;
   

}
.systems {
    padding-top: 3em;
   

}

footer {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}
    
nav {
    background-color:	#696969;
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    

}
nav ul {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    text-align: center;
    list-style: none;

}
nav ul li a {
    text-decoration: none;
    color: white;
    padding: 0.5em 1em;
    border: 0.1em solid white;
    border: transparent;
    
}
nav ul li a:hover {
    background-color: white;
    color: black;
    transition: 0.7s ease;
}
nav .close {
    display: none;
}
body {
    background-image: url(../ASSIGNMENT/backdrop.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    grid-area: div;

}
.div1 {
    display: none;
    background-color: black;
    position: fixed;
    top: 0%;
    left: 50%;
    width: 50%;
    height: 100vh;
    z-index: 1;
}
.div1:target {
    display: block;
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50vh;
    z-index: 1;
}

.div2 {
    display: none;
    background-color: black;
    position: fixed;
    top: 0%;
    left: 50%;
    width: 50%;
    height: 100vh;
    z-index: 1;
}
.div2:target {
    display: block;
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50vh;
    z-index: 1;
}

.div3 {
    display: none;
    background-color: black;
    position: fixed;
    top: 0%;
    left: 50%;
    width: 50%;
    height: 100vh;
    z-index: 1;
}
.div3:target {
    display: block;
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50vh;
    z-index: 1;
}

.div4 {
    display: none;
    background-color: black;
    position: fixed;
    top: 0%;
    left: 50%;
    width: 50%;
    height: 100vh;
    z-index: 1;
}
.div4:target {
    display: block;
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50vh;
    z-index: 1;
}

.div5 {
    display: none;
    background-color: black;
    position: fixed;
    top: 0%;
    left: 50%;
    width: 50%;
    height: 100vh;
    z-index: 1;
}
.div5:target {
    display: block;
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50vh;
    z-index: 1;
}

.div6 {
    display: none;
    background-color: black;
    position: fixed;
    top: 0%;
    left: 50%;
    width: 50%;
    height: 100vh;
    z-index: 1;
}
.div6:target {
    display: block;
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50vh;
    z-index: 1;
}
.exit {
    text-decoration: none;
    color: white;
    font-family: 'Fredoka One', cursive;
    font-size: 180%;
    padding-left: 95%;
}
