* {
    padding: 0%;
    margin: 0%;
}
body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
}
.logo img{ 
    display: inline;
    float: left;
    width: 15em;
    height: auto;
}

header {
    background-color: black;
    grid-area: header;
}
main {
    color: white;
    grid-area: main;
    font-family: 'Roboto', sans-serif;
    
}
main ul {
    display: block;
    text-align: center;
    list-style: none;
    
}
main ul li {
    list-style: none;

}
main p {
    font-family: 'Roboto', sans-serif;
    padding-top: 1em;
    font-size: 110%;
}

.webdev {
    padding-top: 1em;

}
.software {
    padding-top: 1em;

}
.problemsolving {
    padding-top: 1em;
   

}
.communication {
    padding-top: 1em;
   

}
.systems {
    padding-top: 1em;
}
footer {
    background-color: black;
    color: white;
    grid-area: footer;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}
.openmenu {
    position: relative;
    height: 0.8em;
    width: 2.2em;
    display: block;
    border-top: 0.3em solid white;
    border-bottom: 0.3em solid white;
    border-radius: 0.1em;
    float: right;
    margin-top: 0.7em;
    margin-right: 0.5em;

}
.openmenu:before {
    content: '';
    position: absolute;
    width: 2.2em;
    top: 0.3em;
    border-top: 0.3em solid white;
}
nav {
    background-color: black;
    grid-area: nav;
    display:none; 
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}   
nav:target {
    display: block;
    position: fixed;
    top: 0%;
    left: 50%;
    width: 50%;
    height: 100vh;
    z-index: 1;
}
nav .close {
    float: right;
}

nav ul {
    display: block;
    list-style: none;
    padding-top: 2em;

}
nav ul li {
    padding-top: 2.5em;
    text-align: center;
    
}
nav ul li a {
    text-decoration: none;
    color: white;
}

body {
    background-image: url(../ASSIGNMENT/backdrop.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.div1 {
    display: none;
    background-color: blue;
    position: fixed;
}
.div1:target {
    display: block;
    position: fixed;
    top: 10%;
    left: 0%;
    width: 100%;
    height: 80vh;
    z-index: 1;
}

.div2 {
    display: none;
    background-color: blue;
    position: fixed;
}
.div2:target {
    display: block;
    position: fixed;
    top: 10%;
    left: 0%;
    width: 100%;
    height: 80vh;
    z-index: 1;
}

.div3 {
    display: none;
    background-color: blue;
    position: fixed;
}
.div3:target {
    display: block;
    position: fixed;
    top: 10%;
    left: 0%;
    width: 100%;
    height: 80vh;
    z-index: 1;
}

.div4 {
    display: none;
    background-color: blue;
    position: fixed;

}
.div4:target {
    display: block;
    position: fixed;
    top: 10%;
    left: 0%;
    width: 100%;
    height: 80vh;
    z-index: 1;
}

.div5 {
    display: none;
    background-color: blue;
    position: fixed;
}
.div5:target {
    display: block;
    position: fixed;
    top: 10%;
    left: 0%;
    width: 100%;
    height: 80vh;
    z-index: 1;
}

.div6 {
    display: none;
    background-color: blue;
    position: fixed;
}
.div6:target {
    display: block;
    position: fixed;
    top: 10%;
    left: 0%;
    width: 100%;
    height: 80vh;
    z-index: 1;
}
.close {
    text-decoration: none;
    color: white;
    font-family: 'Fredoka One', cursive;
    font-size: 200%;
    padding-right: 0.5em;
}
.exit {
    text-decoration: none;
    color: white;
    font-family: 'Fredoka One', cursive;
    font-size: 180%;
}