* {
    margin: 0%;
    padding: 0%;
    
}
body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}
body {
    background-image: url(../ASSIGNMENT/backdrop.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    grid-area: div;
}
.logo img{ 
    display: inline;
    float: left;
    width: 15em;
    height: auto;
}

header {
    background-color: black;
}

nav {
    background-color:	#696969;
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
nav ul {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    text-align: center;
    list-style: none;

}
nav ul li a {
    text-decoration: none;
    color: white;
    padding: 0.5em 1em;
    border: 0.1em solid white;
    border: transparent;
}
nav ul li a:hover {
    background-color: white;
    color: black;
    transition: 0.7s ease;
}
nav .close {
    display: none;
}

main {
    color: white;
    font-family: 'Roboto', sans-serif;
    padding-left: 1em;
}
main h2{
    padding-bottom: 0.5em;
}
main img{
    text-align: center;
}
main .moduleexperience{
    padding-top: 1em;
    padding-bottom: 2.5em;
}
.moduleexperience p{
    padding-bottom: 0.2em;
}
.debug{
    padding-top: 1.5em;
}


main .websitedesign{
    padding-bottom: 2.5em;

}
.websitedesign p{
    padding-bottom: 0.2em;
}
.theme{
    padding-top: 1.5em;
}
.font{
    padding-top: 1.5em;
}
.portfoliopagedesign{
    padding-top: 1em;
}
.overalllayout{
    padding-top: 1.5em;
}


main .relevantchanges p{
    padding-bottom: 1.7em;
}
.indexss1{
    text-align: center;
    padding-bottom: 0.5em;
}
.indexss2{
    text-align: center;
    padding-bottom: 2.7em;
}



main .validationcentre h3{
    padding-bottom: 1em;
    text-align: center;
}
.intro{
    padding-bottom: 0.5em;
}
.explain{
    padding-bottom: 1em;
}


.homepagevalidation{
    padding-bottom: 4em;
    text-align: center;
}
.homepagevalidation img{
    padding-bottom: 0.5em;
}



.portfoliopagevalidation{
    padding-bottom: 4em;
    text-align: center;
}
.portfoliopagevalidation img{
    padding-bottom: 0.5em;
}


.contactpagevalidation{
    padding-bottom: 4em;
    text-align: center;
}
.contactpagevalidation img{
    padding-bottom: 0.5em;
}

.cvpagevalidation{
    padding-bottom: 4em;
    text-align: center;
}
.cvpagevalidation img{
    padding-bottom: 0.5em;
}


.sitereportpagevalidation{
    padding-bottom: 4em;
    text-align: center;
}
.sitereportpagevalidation img{
    padding-bottom: 0.5em;
}


main .reference{
    padding-top: 6em;
}
.reference p{
    padding-bottom: 1em;
}
.reference h1{
    padding-bottom: 0.5em;
}
    
footer {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}