* {
    padding: 0%;
    margin: 0%;   
}
body {
    display: grid;
    grid-template-columns: auto;
    
}
body {
    background-image: url(../ASSIGNMENT/backdrop.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.logo img{ 
    display: inline;
    float: left;
    width: 15em;
    height: auto;
}

header {
    background-color: black;
}

.openmenu {
    position: relative;
    height: 0.8em;
    width: 2.2em;
    display: block;
    border-top: 0.3em solid white;
    border-bottom: 0.3em solid white;
    border-radius: 0.1em;

    float: right;

    margin-top: 0.7em;
    margin-right: 0.5em;
    

    
}
.openmenu:before {
    content: '';
    position: absolute;
    width: 2.2em;
    top: 0.3em;
    border-top: 0.3em solid white;
}
nav {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    display:block; 
    position: fixed;
    top: 0%;
    left: 50%;
    width: 50%;
    height: 100vh;
    z-index: 1;
    transform: translate(0, -100%);
}   
nav:target {
    display: block;
    position: fixed;
    top: 0%;
    left: 50%;
    width: 50%;
    height: 100vh;
    z-index: 1;
    transform: translate(0, 0%);
    transition: transform 0.4s ease-in;
}
nav .close {
    float: right;
    text-decoration: none;
    color: white;
    font-family: 'Fredoka One', cursive;
    font-size: 200%;
    padding-right: 0.5em;
    
}

nav ul {
    display: block;
    list-style: none;
    padding-top: 2em;

}
nav ul li {
    padding-top: 2.5em;
    text-align: center;
    
}
nav ul li a {
    text-decoration: none;
    color: white;
}

main {
    color: white;
    font-family: 'Roboto', sans-serif;
    padding-left: 0.2em;
    padding-right: 0.2em;
}
main h2{
    padding-bottom: 0.5em;
}
main img{
    text-align: left;
    width: 100%;
    height: 100%;
}

main .moduleexperience{
    padding-top: 1em;
    padding-bottom: 2.5em;
}
.moduleexperience p{
    padding-bottom: 0.2em;
}
.debug{
    padding-top: 1.5em;
}



main .websitedesign{
    padding-bottom: 2.5em;

}
.websitedesign p{
    padding-bottom: 0.2em;
}
.theme{
    padding-top: 1.5em;
}
.font{
    padding-top: 1.5em;
}
.portfoliopagedesign{
    padding-top: 1em;
}
.overalllayout{
    padding-top: 1.5em;
}


main .relevantchanges p{
    padding-bottom: 1.7em;
}
.indexss1{
    text-align: center;
    padding-bottom: 0.5em;
}
.indexss2{
    text-align: center;
    padding-bottom: 2.7em;
}



main .validationcentre h3{
    padding-bottom: 1em;
    text-align: center;
}
.intro{
    padding-bottom: 0.5em;
}
.explain{
    padding-bottom: 1em;
}


.homepagevalidation{
    padding-bottom: 4em;
    text-align: center;
}
.homepagevalidation img{
    padding-bottom: 0.5em;
}


.portfoliopagevalidation{
    padding-bottom: 4em;
    text-align: center;
}
.portfoliopagevalidation img{
    padding-bottom: 0.5em;
}


.contactpagevalidation{
    padding-bottom: 4em;
    text-align: center;
}
.contactpagevalidation img{
    padding-bottom: 0.5em;
}


.cvpagevalidation{
    padding-bottom: 4em;
    text-align: center;
}
.cvpagevalidation img{
    padding-bottom: 0.5em;
}


.sitereportpagevalidation{
    padding-bottom: 4em;
    text-align: center;
}
.sitereportpagevalidation img{
    padding-bottom: 0.5em;
}


main .reference{
    padding-top: 6em;
}
.reference p{
    padding-bottom: 1em;
}
.reference h1{
    padding-bottom: 0.5em;
}


footer {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}